@model TrainModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculation Results";
}
@{
    int lc = Model.TrainLength - Model.EC;
    double factWeight = (25.4 * Model.EC + 80 * lc);
    double overWeight = factWeight - Model.Weight;
    int amountOfTrains = Model.AverageAmountPerDay / Model.TrainLength;
    int needRailwayCarriage = Model.TrainLength - (Model.AverageAmountPerDay % Model.TrainLength);
    //var ts = TimeSpan.FromMinutes(Model.TrainLength * 2.4);
    TimeSpan ts = TimeSpan.FromMinutes(Model.TrainLength * 1.7 + Model.DC * 2.3);
    TimeSpan tvs = new TimeSpan(ts.Ticks - (ts.Ticks % 600000000));
    TimeSpan overts = TimeSpan.FromMinutes(Model.AverageAmountPerDay * 1.7 + Model.DC * 2.3);
    var time = tvs * amountOfTrains;


}

<h3 style="text-align:center" class="pt-5">Results calculation the train formation on direction from @Model.DepartureStation to @Model.FinalDestination</h3>
<br />

<table class="table table-bordered table-hover table-striped" style="text-align:center" width="100%">
    <thead style="height:auto; vertical-align: central" width=50%>

    <tbody>
        <tr>
            <th>Train Length(railway carriages)</th>
            <td style="font-size:larger">
                    @if (Model.TrainLength <= Model.AverageAmountPerDay)
                    {
                    <p>@Model.TrainLength </p>
                    }
                    else
                    {
                    <p>@Model.AverageAmountPerDay</p>
                    }
            </td>
        </tr>
        <tr>
            <th>Weight</th>
            <td style="font-size:larger">
                    @if (factWeight <= Model.Weight)
                    {
                    <p> Weight matching and equals @factWeight tons </p>
                    }
                    else
                    {
                    <p>Overweight in @overWeight tons</p>
                    }
            </td>
        </tr>
        <tr>
            <th>Time required to form one train</th>
            <td style="font-size:larger">
                    @if (Model.TrainLength <= Model.AverageAmountPerDay)
                    {
                    <p>@tvs</p>
                    }
                    else
                    {
                    <p>@overts</p>
                    }
                    
            </td>
        </tr>
        <tr>
            <th>Amount carriages with dangerous cargo</th>
            <td style="font-size:larger">@Model.DC</td>
        </tr>
        <tr>
            <th>Amount of trains</th>
            <td style="font-size:larger">
                    @if (Model.TrainLength <= Model.AverageAmountPerDay)
                    {
                    <p>@amountOfTrains</p>
                    }
                    else
                    {
                    <p>1</p>
                    }
            </td>
        </tr>
        <tr>
            <th>Required number of railway carriages for a new train</th>
            <td style="font-size:larger">
                    @if (Model.AverageAmountPerDay <= Model.TrainLength)
                    {
                    <p>needed @needRailwayCarriage for a full train</p>
                    }
                    else
                    {
                    <p>@needRailwayCarriage</p>
                    }
            </td>
        </tr>
        <tr>
            <th>Time required to form all trains for this direction</th>
            <td style="font-size:larger">
                    @if (Model.TrainLength <= Model.AverageAmountPerDay)
                    {
                    <p>@time</p>
                    }
                    else
                    {
                    <p>@overts</p>
                    }
            </td>
        </tr>
    </tbody>
</table>

<div class="w-12 btn-group" role="group">
    <a asp-action="Index" class="btn btn-info mx-1">🡸 Back</a>
    <a asp-controller="Train" asp-action="TrainEdit" asp-route-id="@Model.TrainId" class="btn btn-secondary mx-1">Edit</a>
</div>





